@import "./Globals";

.container {
  display: flex;
  flex-direction: column;
  width: 200px;

  .true {
    transform: rotate(180deg);
    transition: 0.4s;
  }

  svg {
    color: $primary;
    font-size: 20px;
  }

  &__dropdown {
    border-bottom: 1px solid #f2f2f2;
    border-radius: 0;
    justify-content: space-between;
    background-color: #fff;
    color: black;

    &:hover {
      background-color: #fff;
    }
  }
}
