@import "./Globals";

.dropdown {
  position: relative;
  @include flex(start, stretch, column);

  &__btn {
    position: relative;
    @include flex(space-between, center);
    padding: 10px 21px;
    background-color: white;
    border-width: 0px 0px 1px 0px;
    border-color: $gray;
    z-index: 200;
    cursor: pointer;

    * {
      transition: 0.2s;
    }

    span {
      font-weight: bold;
      font-size: 13px;
    }
  }

  svg {
    color: $primary;
    font-size: 20px;
  }

  &__container {
    position: relative;
    @include flex(start, stretch, column);
    flex-wrap: nowrap;
    transform-origin: top;
    overflow: hidden;
  }

  @include sm-screen {
    width: 100%;
  }

  @include md-screen {
    width: 300px;
  }
}

.true {
  transform: rotate(180deg);
  transition: 0.4s;
}
