@import "./Globals";

.card {
  @include flex(start, start);
  width: 340px;
  padding: 12px;
  gap: 12px;
  box-sizing: border-box;
  box-shadow: 0 0 9px rgba($color: #000000, $alpha: 0.25);
  border-radius: 10px;

  &__visual {
    @include flex(start, center, column);
    width: 125px;
    height: 226px;
    border-radius: 5px;
    background: linear-gradient(180deg, #3a3a3b 0%, #e3e3e3 50%, #3a3a3b 100%);
    cursor: pointer;
  }

  &__img {
    position: relative;
    @include flex(center, start);
    width: 100%;
    height: 100%;
    transform: scale(1);

    img {
      position: relative;
      inset-block-start: -23px;
      inset-inline-start: 3px;
      height: 120%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__pays {
    @include flex(start, center, column);
    width: 100%;
    gap: 5px;
  }

  &__row {
    @include flex(center, center);
    width: 100%;
    gap: 5px;

    .pay {
      width: 43%;
    }
  }

  &__info {
    @include flex(start, start, column);
    width: auto;
  }

  &__brand {
    font-size: 11px;
    font-weight: 600;
    line-height: 13.5px;
    color: $primary;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
  }

  &__details {
    @include flex(start, stretch, column);
    margin-block-start: 5px;
    gap: 1px;
  }

  &__finances {
    @include flex(start, start, column);
    gap: 4px;
    margin-block: 15px;
  }

  &__finance {
    font-size: 10px;
  }

  &__tags {
    @include flex(start, center);
    gap: 2px;

    .tag {
      padding: 4px 8px;
      border-radius: 20px;
      font-size: 10px;
    }
  }
}
