@import "./Globals";

.check {
  position: relative;
  @include flex(start, center);
  padding-inline: 30px;
  margin-block-start: 10px;
  gap: 10px;

  &__box {
    @include flex(center, center);
    height: 20px;
    width: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid $primary;

    &--active {
      background-color: $primary;
    }
  }

  &__checked {
    height: 60%;
    width: 60%;
    color: white;
    fill: white;

  }

  &__label {
    inline-size: 200px;
  }
}
