@import "./Globals";

header {
  @include flex(center, center);
  width: 100%;
  box-sizing: border-box;
  position: sticky;
  z-index: 20; 


  @include sm-screen() {
    justify-content: space-between;
    padding: 20px;
    height: 75px;
  }

  @include md-screen() {
    height: 100px;
    padding: 30px;

    a {
      position: absolute;
      inset-inline-start: 30px;
    }
  }

  @include lg-screen() {
    height: 121px;
    padding: 30px 100px;

    a {
      inset-inline-start: 100px;
    }
  }

  
}


.header {

  &__container {
    @include flex(start, start);

    @include sm-screen {
      input, button:last-of-type {
        display: none;
      }
    }

    @include md-screen {
      input {
        width: 400px;
        height: 15px;
      }
    }

    @include lg-screen {
      display: flex;
      input {
        width: 600px;
      };
    }
  }

  @include sm-screen() {
    &__logo {
      height: 40px;
    }
  }

  @include md-screen() {
    display:  flex;
    justify-self: center;

    &__logo {
      height: 45px;
    }
  }

  @include lg-screen() {
    &__logo {
      height: 50px;
    }
    
  }

  
}
