@import "./Globals";

header {
  width: 100%;
  box-sizing: border-box;
  position: sticky;
  z-index: 20; 

  @include flex(space-between, center);

  @include sm-screen() {
    padding: 20px;
    height: 75px;
  }

  @include md-screen() {
    height: 100px;
    padding: 30px;
  }

  @include lg-screen() {
    height: 121px;
    padding: 30px 100px;
  }
}

.header {
  &__container {
    display: flex;


    @include sm-screen {
      input, button:last-of-type {
        display: none;
      }
    }

    @include md-screen {
      input {
        width: 300px;
        height: 15px;
      }
    }

    @include lg-screen {
      display: flex;
    }
  }

  @include sm-screen() {
    &__logo {
      height: 40px;
    }
  }

  @include md-screen() {
    &__logo {
      height: 45px;
    }
  }

  @include lg-screen() {
    &__logo {
      height: 50px;
    }
  }
}
