@import "./Globals";

.home {

  &__container {
    @include flex(center, center, column);
    max-width: 1440px;
    margin-inline: auto;
  }

  &__banner {
    display: block;
    width: 95%;
    height: 180px;
    margin-block: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: $primary;
  }

  @include sm-screen {
    &__banner {
        width: 90%;
    }
  }
}
