@import "./Globals";

input {
  padding: 15px;
  font-family: $font;
  font-weight: 500;
  font-size: 14px;
  border-radius: 9px;
  border: none;
  background-color: $gray;
  outline: none;
  margin-inline-end: 10px;


  ::placeholder {
    color: rgba(0, 0, 0, 0.2);
  }
}
