$primary: #f27405;
$primaryHover: #f28a00; 
$secondary: #f2af00;
$gray: #F5F7F9;
$darkGray: #3a3a3b;
$font: 'Montserrat', sans-serif;


@mixin flex($justify, $align, $dir: row) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: wrap;
}

@mixin sm-screen {
  @media only screen and (max-width: 834px) {
    @content;
  }
}

@mixin md-screen {
  @media only screen and (min-width: 835px) {
    @content;
  }
}

@mixin lg-screen {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}

