@import "./Globals";

.card {
  @include flex(start, start);
  position: relative;
  width: 295px;
  height: auto;
  padding: 12px;
  gap: 12px;
  box-sizing: border-box;
  box-shadow: 0 0 9px rgba($color: #000000, $alpha: 0.25);
  border-radius: 10px;
  overflow: hidden;

  &__featured {
    position: absolute;
    padding: 2px 5px;
    inset-block-start: 0px;
    inset-inline-end: 0;
    font-size: 14px;
    font-weight: 600;
    background-color: #f94e4e;
    color: white;
    border-radius: 0px 10px 0 10px;
  }

  &__visual {
    @include flex(start, center, column);
    width: 260px;
    height: 300px;
    padding: 5px;
    border-radius: 5px;
    background: linear-gradient(200deg, #f2f2f2 0%, #24b0bf 100%);
    cursor: pointer;
  }

  &__img {
    position: relative;
    @include flex(center, start);
    transform: scale(1.1);

    img {
      position: relative;
      inset-block-start: 0px;
      inset-inline-start: 3px;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__pays {
    @include flex(start, center, column);
    width: 100%;
    gap: 5px;
  }

  &__row {
    @include flex(center, center, row);
    width: 100%;
    gap: 5px;

    .pay {
      width: 100%;
    }
  }

  &__info {
    @include flex(start, start, column);
    width: 100%;
  }

  &__brand {
    font-size: 11px;
    font-weight: 600;
    line-height: 13.5px;
    text-align: left;
    width: 100%;
    color: #000000;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    inline-size: 175px;
    text-align: center;
    color: #000000;
  }

  &__details {
    @include flex(space-between, stretch, column);
    margin-block-start: 5px;
    gap: 1px;
    width: 175px;
    height: 160px;
  }

  &__finances {
    @include flex(start, start, column);
    gap: 4px;
    margin-block: 15px;
  }

  &__finance {
    font-size: 10px;
  }

  &__tags {
    @include flex(start, center);
    gap: 2px;

    .tag {
      padding: 4px 8px;
      border-radius: 20px;
      font-size: 10px;
    }
  }
}

.img__visible {
  position: absolute;
  inset: 0 0 0 0;

  img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: #fff;
  }
}

.button__close {
  position: absolute;
  inset-block-start: 5px;
  inset-inline-start: 2px;
  border: none;
  background-color: transparent;

  @include sm-screen() {
    inset-inline-start: unset;

    inset-inline-end: 0px;
  }

  .closeIcon {
    font-size: 25px;
    color: $primary;
    cursor: pointer;
  }
}
