@import "./Globals";

.card {
  @include flex(start, start);
  position: relative;
  width: 260px;
  height: auto;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px 2px #00000045;
  border-radius: 15px;
  overflow: hidden;
  margin-right: 20px;

  &__color {
    height: 15px;
    width: 15px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    //border: 0.1px solid black;
    margin-block-end: 5px;

    &--pink {
      background-color: #d97b93;
    }

    &--darkblue {
      background-color: #355bc6;
    }

    &--gray {
      background-color: #8c928e;
    }

    &--blue {
      background-color: #3a9dc7;
    }

    &--red {
      background-color: #d40300;
    }

    &--darkgray {
      background-color: #676861;
    }

    &--cian {
      background-color: #73bcb1;
    }

    &--purple {
      background-color: #c289d8;
    }

    &--black {
      background-color: #040405;
    }
  }

  &__visual {
    @include flex(center, center, column);
    overflow: hidden;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }

  &__img {
    position: relative;
    @include flex(center, start);
    transform: scale(1.2);

    img {
      position: relative;
      inset-block-start: 0px;
      inset-inline-start: 3px;
      height: 90%;
      width: 90%;
      object-fit: cover;
    }

    &--pink {
      filter: brightness(3) saturate(10%) invert(66%) sepia(6%) saturate(3342%)
        hue-rotate(297deg) brightness(87%) contrast(94%);
    }

    &--darkblue {
      filter: brightness(3) saturate(10%) invert(35%) sepia(67%) saturate(688%)
        hue-rotate(186deg) brightness(91%) contrast(100%);
    }

    &--gray {
      filter: brightness(1.2) saturate(10%) invert(63%) sepia(3%) saturate(468%)
        hue-rotate(83deg) brightness(90%) contrast(91%);
    }

    &--blue {
      filter: brightness(4) saturate(10%) invert(46%) sepia(82%) saturate(333%)
        hue-rotate(152deg) brightness(101%) contrast(101%);
    }

    &--red {
      filter: brightness(1.4) saturate(0%) invert(13%) sepia(86%)
        saturate(4366%) hue-rotate(356deg) brightness(93%) contrast(116%);
    }

    &--darkgray {
      filter: brightness(5) saturate(10%) invert(42%) sepia(2%) saturate(1091%)
        hue-rotate(25deg) brightness(96%) contrast(96%);
    }

    &--cian {
      filter: brightness(0.01) saturate(10%) invert(100%) sepia(72%)
        saturate(1040%) hue-rotate(90deg) brightness(79%) contrast(82%);
    }

    &--purple {
      filter: brightness(3) saturate(10%) invert(61%) sepia(11%) saturate(1374%)
        hue-rotate(239deg) brightness(97%) contrast(98%);
    }

    &--black {
      filter: brightness(0.1) saturate(10%) invert(2%) sepia(98%)
        saturate(7500%) hue-rotate(72deg) brightness(96%) contrast(110%);
    }
  }

  &__pays {
    @include flex(start, center, column);
    width: 100%;
    gap: 5px;
  }

  &__row {
    @include flex(center, center, row);
    width: 100%;
    gap: 5px;
    background-color: #f3f3f3;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 5px;
    box-sizing: border-box;

    .pay {
      width: 100%;
    }
  }

  &__column {
    @include flex(center, center, column);
    position: absolute;
    top: 40px;
    right: 40px;
    gap: 3px;
  }

  &__info {
    @include flex(start, start, column);
    width: 100%;
  }

  &__brand {
    font-size: 11px;
    font-weight: 600;
    line-height: 13.5px;
    text-align: left;
    width: 100%;
    color: #000000;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    inline-size: 175px;
    text-align: center;
    color: #000000;
    width: 100%;
  }

  &__details {
    @include flex(space-between, stretch, column);
    gap: 1px;
    width: 175px;
    height: 160px;
  }

  &__finances {
    @include flex(start, start, column);
    gap: 4px;
    margin-block: 15px;
  }

  &__finance {
    font-size: 10px;
  }

  &__tags {
    @include flex(start, center);
    gap: 2px;

    .tag {
      padding: 4px 8px;
      border-radius: 20px;
      font-size: 10px;
    }
  }

  &__container {
    @include flex(center, center, row);
    width: 100%;
    gap: 10px;
    padding: 5px;
  }

  &__value {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    padding: 2px;
  }

  &__titleTwo {
    font-size: 17px;
    font-weight: 600;
    color: #000000;
  }

  &__valueTwo {
    font-size: 20px;
    font-weight: bolder;
    color: #000000;
    background-color: #ec0603;
    color: white;
    padding: 5px;
    border-radius: 10px;
  }
}

.img__visible {
  position: absolute;
  inset: 0 0 0 0;
  background-color: white;

  img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &--pink {
    img {
      filter: brightness(3) saturate(10%) invert(66%) sepia(6%) saturate(3342%)
        hue-rotate(297deg) brightness(87%) contrast(94%);
    }
  }

  &--darkblue {
    img {
      filter: brightness(3) saturate(10%) invert(35%) sepia(67%) saturate(688%)
        hue-rotate(186deg) brightness(91%) contrast(100%);
    }
  }

  &--gray {
    img {
      filter: brightness(1.2) saturate(10%) invert(63%) sepia(3%) saturate(468%)
        hue-rotate(83deg) brightness(90%) contrast(91%);
    }
  }

  &--blue {
    img {
      filter: brightness(4) saturate(10%) invert(46%) sepia(82%) saturate(333%)
        hue-rotate(152deg) brightness(101%) contrast(101%);
    }
  }

  &--red {
    img {
      filter: brightness(1.4) saturate(0%) invert(13%) sepia(86%)
        saturate(4366%) hue-rotate(356deg) brightness(93%) contrast(116%);
    }
  }

  &--darkgray {
    img {
      filter: brightness(5) saturate(10%) invert(42%) sepia(2%) saturate(1091%)
        hue-rotate(25deg) brightness(96%) contrast(96%);
    }
  }

  &--cian {
    img {
      filter: brightness(0.01) saturate(10%) invert(100%) sepia(72%)
        saturate(1040%) hue-rotate(90deg) brightness(79%) contrast(82%);
    }
  }

  &--purple {
    img {
      filter: brightness(3) saturate(10%) invert(61%) sepia(11%) saturate(1374%)
        hue-rotate(239deg) brightness(97%) contrast(98%);
    }
  }

  &--black {
    img {
      filter: brightness(3) saturate(10%) invert(61%) sepia(11%) saturate(1374%)
        hue-rotate(239deg) brightness(97%) contrast(98%);
    }
  }

  @include sm-screen {
    margin-right: 0;
  }
}

.button__close {
  position: absolute;
  inset-block-start: 5px;
  inset-inline-start: 2px;
  border: none;
  background-color: transparent;

  @include sm-screen() {
    inset-inline-start: unset;

    inset-inline-end: 0px;
  }

  .closeIcon {
    font-size: 25px;
    color: $primary;
    cursor: pointer;
  }
}
