@import "./Globals";

.card {
  @include flex(start, start);
  position: relative;
  width: 260px;
  height: auto;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px 2px #00000045;
  border-radius: 15px;
  overflow: hidden;
  margin-right: 20px;

  &__color {
    height: 15px;
    width: 15px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    //border: 0.1px solid black;
    margin-block-end: 5px;

    &--pink {
      background-color: #d97b93;
    }

    &--darkblue {
      background-color: #355bc6;
    }

    &--gray {
      background-color: #8c928e;
    }

    &--blue {
      background-color: #3a9dc7;
    }

    &--red {
      background-color: #d40300;
    }

    &--darkgray {
      background-color: #676861;
    }

    &--cian {
      background-color: #73bcb1;
    }

    &--purple {
      background-color: #c289d8;
    }

    &--black {
      background-color: #040405;
    }
  }

  &__visual {
    @include flex(center, center, column);
    overflow: hidden;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }

  &__img {
    position: relative;
    @include flex(center, start);
    transform: scale(1.2);

    img {
      position: relative;
      inset-block-start: 0px;
      inset-inline-start: 3px;
      height: 90%;
      width: 90%;
      object-fit: cover;
    }

    &--pink {
      filter: brightness(0) saturate(100%) invert(53%) sepia(51%) saturate(389%)
        hue-rotate(294deg) brightness(98%) contrast(88%);
    }

    &--darkblue {
      filter: brightness(0) saturate(100%) invert(53%) sepia(89%)
        saturate(6449%) hue-rotate(218deg) brightness(85%) contrast(80%);
    }

    &--gray {
      filter: brightness(0) saturate(100%) invert(59%) sepia(6%) saturate(213%)
        hue-rotate(87deg) brightness(96%) contrast(90%);
    }

    &--blue {
      filter: brightness(0) saturate(100%) invert(54%) sepia(85%) saturate(356%)
        hue-rotate(152deg) brightness(86%) contrast(90%);
    }

    &--red {
      filter: brightness(0) saturate(100%) invert(7%) sepia(99%) saturate(5683%)
        hue-rotate(13deg) brightness(130%) contrast(117%);
    }

    &--darkgray {
      filter: brightness(0) saturate(100%) invert(40%) sepia(0%) saturate(1620%)
        hue-rotate(142deg) brightness(98%) contrast(89%);
    }

    &--cian {
      filter: brightness(0) saturate(100%) invert(78%) sepia(18%) saturate(690%)
        hue-rotate(121deg) brightness(87%) contrast(87%);
    }

    &--purple {
      filter: brightness(0) saturate(100%) invert(84%) sepia(33%)
        saturate(5554%) hue-rotate(214deg) brightness(91%) contrast(84%);
    }

    &--black {
      filter: brightness(0) saturate(100%) invert(4%) sepia(14%) saturate(0%)
        hue-rotate(44deg) brightness(95%) contrast(102%);
    }
  }

  &__pays {
    @include flex(start, center, column);
    width: 100%;
    gap: 5px;
  }

  &__row {
    @include flex(center, center, row);
    width: 100%;
    gap: 5px;
    background-color: #F3F3F3;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 5px;
    box-sizing: border-box;

    .pay {
      width: 100%;
    }
  }

  &__column {
    @include flex(center, center, column);
    position: absolute;
    top: 40px;
    right: 40px;
    gap: 3px;
  }

  &__info {
    @include flex(start, start, column);
    width: 100%;
  }

  &__brand {
    font-size: 11px;
    font-weight: 600;
    line-height: 13.5px;
    text-align: left;
    width: 100%;
    color: #000000;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    inline-size: 175px;
    text-align: center;
    color: #000000;
    width: 100%;
  }

  &__details {
    @include flex(space-between, stretch, column);
    gap: 1px;
    width: 175px;
    height: 160px;
  }

  &__finances {
    @include flex(start, start, column);
    gap: 4px;
    margin-block: 15px;
  }

  &__finance {
    font-size: 10px;
  }

  &__tags {
    @include flex(start, center);
    gap: 2px;

    .tag {
      padding: 4px 8px;
      border-radius: 20px;
      font-size: 10px;
    }
  }

  &__container {
    @include flex(center, center, row);
    width: 100%;
    gap: 10px;
    padding: 5px;
  }

  &__value {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    padding: 2px;
  }

  &__titleTwo {
    font-size: 17px;
    font-weight: 600;
    color: #000000;
  }

  &__valueTwo {
    font-size: 20px;
    font-weight: bolder;
    color: #000000;
    background-color: #ec0603;
    color: white;
    padding: 5px;
    border-radius: 10px;
  }
}

.img__visible {
  position: absolute;
  inset: 0 0 0 0;
  background-color: white;

  img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &--pink {
    img {
      filter: brightness(0) saturate(100%) invert(53%) sepia(51%) saturate(389%)
        hue-rotate(294deg) brightness(98%) contrast(88%);
    }
  }

  &--darkblue {
    img {
      filter: brightness(0) saturate(100%) invert(53%) sepia(89%)
        saturate(6449%) hue-rotate(218deg) brightness(85%) contrast(80%);
    }
  }

  &--gray {
    img {
      filter: brightness(0) saturate(100%) invert(59%) sepia(6%) saturate(213%)
        hue-rotate(87deg) brightness(96%) contrast(90%);
    }
  }

  &--blue {
    img {
      filter: brightness(0) saturate(100%) invert(54%) sepia(85%) saturate(356%)
        hue-rotate(152deg) brightness(86%) contrast(90%);
    }
  }

  &--red {
    img {
      filter: brightness(0) saturate(100%) invert(7%) sepia(99%) saturate(5683%)
        hue-rotate(13deg) brightness(130%) contrast(117%);
    }
  }

  &--darkgray {
    img {
      filter: brightness(0) saturate(100%) invert(40%) sepia(0%) saturate(1620%)
        hue-rotate(142deg) brightness(98%) contrast(89%);
    }
  }

  &--cian {
    img {
      filter: brightness(0) saturate(100%) invert(78%) sepia(18%) saturate(690%)
        hue-rotate(121deg) brightness(87%) contrast(87%);
    }
  }

  &--purple {
    img {
      filter: brightness(0) saturate(100%) invert(84%) sepia(33%)
        saturate(5554%) hue-rotate(214deg) brightness(91%) contrast(84%);
    }
  }

  &--black {
    img {
      filter: brightness(0) saturate(100%) invert(4%) sepia(14%) saturate(0%)
        hue-rotate(44deg) brightness(95%) contrast(102%);
    }
  }

  @include sm-screen {
    margin-right: 0;
  }
}

.button__close {
  position: absolute;
  inset-block-start: 5px;
  inset-inline-start: 2px;
  border: none;
  background-color: transparent;

  @include sm-screen() {
    inset-inline-start: unset;

    inset-inline-end: 0px;
  }

  .closeIcon {
    font-size: 25px;
    color: $primary;
    cursor: pointer;
  }
}
