@import "./Globals";

.pay {
    @include flex(space-between, center);
    padding: 2px 3px 2px 10px;
    border: 2px $primary solid;
    border-radius: 20px;

    &__title {
        font-size: 10px;
        font-weight: 700;
        color: $darkGray;
    }

    &__container {
        @include flex(center, center);
        gap: 2px;
    }

    &__value {
        padding: 5px 10px;
        font-size: 10px;
        font-weight: 700;
        color: white;
        background-color: $primary; 
        border-radius: 15px;
    }
}