@import "./Globals";

header {
  @include flex(center, center);
  width: 100%;
  box-sizing: border-box;
  position: sticky;
  z-index: 20;

  @include sm-screen() {
    justify-content: space-between;
    padding: 20px;
    height: 75px;
  }

  @include md-screen() {
    height: 100px;
    padding: 30px;

    a {
      position: absolute;
      inset-inline-start: 30px;
    }
  }

  @include lg-screen() {
    height: 121px;
    padding: 30px 100px;

    a {
      inset-inline-start: 100px;
    }
  }
}

.header {
  &__container {
    @include flex(start, start);

    @include sm-screen {
      input,
      button:last-of-type {
        display: none;
      }
    }

    @include md-screen {
      input {
        width: 400px;
        height: 15px;
      }
    }

    @include lg-screen {
      display: flex;
      input {
        width: 600px;
      }
    }
  }

  &__personality {
    font-size: 16px;
    font-weight: bold;
    margin-inline-end: 32px;
    display: flex;
    align-items: center;
    gap: 20px;

    @include sm-screen {
      gap: 8px;
      font-size: 12px;
      margin-inline-end: 8px;
      margin-block-start: -10px;
    }
  }

  &__case {
    width: 34px;
    height: 66px;

    img {
      width: 110%;
      height: 110%;

      -webkit-animation-name: colorsize;
      animation-name: colorsize;
      -webkit-animation-duration: 15s;
      animation-duration: 15s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-transition: ease-in-out;
      transition: ease-in-out;
    }

    @include sm-screen {
      width: 34px;
      height: 66px;
    }
  }

  @-webkit-keyframes colorsize {
    0% {
      -webkit-filter: none;
      filter: none;
    }
    20% {
      -webkit-filter: contrast(40%) sepia(1) hue-rotate(90deg) saturate(1000%);
      filter: contrast(40%) sepia(1) hue-rotate(90deg) saturate(100%);
    }
    40% {
      -webkit-filter: contrast(40%) sepia(1) hue-rotate(180deg) saturate(1000%);
      filter: contrast(40%) sepia(1) hue-rotate(180deg) saturate(100%);
    }
    60% {
      -webkit-filter: contrast(40%) sepia(1) hue-rotate(270deg) saturate(1000%);
      filter: contrast(40%) sepia(1) hue-rotate(270deg) saturate(100%);
    }
    80% {
      -webkit-filter: contrast(40%) sepia(1) hue-rotate(360deg) saturate(1000%);
      filter: contrast(40%) sepia(1) hue-rotate(360deg) saturate(100%);
    }
    90% {
      -webkit-filter: contrast(40%) sepia(0) hue-rotate(360deg) saturate(100%);
      filter: contrast(40%) sepia(0) hue-rotate(360deg) saturate(100%);
    }
    100% {
      -webkit-filter: none;
      filter: none;
    }
  }
  @keyframes colorsize {
    0% {
      -webkit-filter: none;
      filter: none;
    }
    20% {
      -webkit-filter: contrast(40%) sepia(1) hue-rotate(90deg) saturate(1000%);
      filter: contrast(40%) sepia(1) hue-rotate(90deg) saturate(100%);
    }
    40% {
      -webkit-filter: contrast(40%) sepia(1) hue-rotate(180deg) saturate(1000%);
      filter: contrast(40%) sepia(1) hue-rotate(180deg) saturate(100%);
    }
    60% {
      -webkit-filter: contrast(40%) sepia(1) hue-rotate(270deg) saturate(1000%);
      filter: contrast(40%) sepia(1) hue-rotate(270deg) saturate(100%);
    }
    80% {
      -webkit-filter: contrast(40%) sepia(1) hue-rotate(360deg) saturate(1000%);
      filter: contrast(40%) sepia(1) hue-rotate(360deg) saturate(100%);
    }
    90% {
      -webkit-filter: contrast(40%) sepia(0) hue-rotate(360deg) saturate(100%);
      filter: contrast(40%) sepia(0) hue-rotate(360deg) saturate(100%);
    }
    100% {
      -webkit-filter: none;
      filter: none;
    }
  }

  @include sm-screen() {
    &__logo {
      height: 40px;
    }
  }

  @include md-screen() {
    display: flex;
    justify-self: center;

    &__logo {
      height: 45px;
    }
  }

  @include lg-screen() {
    &__logo {
      height: 50px;
    }
  }
}
