@import "./Globals";

.home {
  &__container {
    @include flex(center, center, column);
    max-width: 1440px;
    margin-inline: auto;
  }

  &__banner {
    display: block;
    width: 95%;
    margin-block: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    background-size: cover;
    background-position: center center;
  }

  &__layout {
    @include flex(start, start);
    flex-wrap: nowrap;
    width: 95%;
    margin-block: 10px;
  }

  &__bar {
    @include flex(start, center, column);
    width: 300px;
  }

  &__details {
    @include flex(start, center, column);
    flex-grow: 2;
    gap: 15px;
  }

  &__tags {
    @include flex(start, center);
    width: 100%;
    gap: 5px;

    .tag {
      padding: 12px 16px;
      border-radius: 20px;
      font-size: 13px;
    }
  }

  &__products {
    @include flex(start, center);
    width: 100%;
    gap: 10px;
  }

  &__paging {
    @include flex(center, center);
    width: 100%;
    height: 30px;
    gap: 10px;

    button {
      width: 40px;
    }
  }

  &__sidebar {
    position: relative;
    @include flex(start, center, column);
    flex-wrap: nowrap;
    background-color: white;
    min-height: 80vh;
    width: 100%;
    overflow-y: hidden;

    .menu {
      @include flex(start, center, column);
      width: 100%;
    }
  }

  &__search {
    position: fixed;
    z-index: 5;
    inset: 0 0 0 0;
  }

  &__box {
    position: relative;
    height: calc(100% - 75px);
    inset-block-start: 75px;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 0;

    input {
      width: 270px;
    }
  }

  &__contain {
    position: relative;
    @include flex(center, center);
    background-color: white;
    padding-block: 20px;
    inset-block-start: -1px;
  }

  &--toggle {
    height: 100vh;
    overflow: hidden;
  }

  @include sm-screen {
    &__banner,
    &__layout {
      width: 90%;
    }

    &__banner {
      background-image: url("../../assets/desktop-banner.png");
      height: 175px;
    }

    &__bar {
      display: none;
    }

    &__products {
      justify-content: center;
    }
  }

  @include md-screen {
    &__details {
      margin-inline-start: 20px;
    }

    &__banner {
      background-image: url("../../assets/desktop-banner.png");
      height: 230px;
    }
  }

  @include lg-screen {
    &__banner {
      background-image: url("../../assets/desktopLg-banner.png");
      height: 200px;
    }
  }
}

.WPP {
  position: fixed;
  z-index: 999;
  border-radius: 20px;
  bottom: 30px;
  right: 30px; 
  padding: 10px;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite;
  img {
    width: 60px;
    &:hover {
      transform: scale(1.1);
      transition: 0.3s;
    }
  }
  @include sm-screen {
    bottom: 10px;
    right: 10px;
    img {
      width: 50px;
    }
  }
}
