.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  width: 260px;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2705882353);
          box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2705882353);
  border-radius: 15px;
  overflow: hidden;
  margin-right: 20px;
}
.card__color {
  height: 15px;
  width: 15px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  -webkit-margin-after: 5px;
          margin-block-end: 5px;
}
.card__color--pink {
  background-color: #d97b93;
}
.card__color--darkblue {
  background-color: #355bc6;
}
.card__color--gray {
  background-color: #8c928e;
}
.card__color--blue {
  background-color: #3a9dc7;
}
.card__color--red {
  background-color: #d40300;
}
.card__color--darkgray {
  background-color: #676861;
}
.card__color--cian {
  background-color: #73bcb1;
}
.card__color--purple {
  background-color: #c289d8;
}
.card__color--black {
  background-color: #040405;
}
.card__visual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.card__img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.card__img img {
  position: relative;
  inset-block-start: 0px;
  inset-inline-start: 3px;
  height: 90%;
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__img--pink {
  -webkit-filter: brightness(3) saturate(10%) invert(66%) sepia(6%) saturate(3342%) hue-rotate(297deg) brightness(87%) contrast(94%);
          filter: brightness(3) saturate(10%) invert(66%) sepia(6%) saturate(3342%) hue-rotate(297deg) brightness(87%) contrast(94%);
}
.card__img--darkblue {
  -webkit-filter: brightness(3) saturate(10%) invert(35%) sepia(67%) saturate(688%) hue-rotate(186deg) brightness(91%) contrast(100%);
          filter: brightness(3) saturate(10%) invert(35%) sepia(67%) saturate(688%) hue-rotate(186deg) brightness(91%) contrast(100%);
}
.card__img--gray {
  -webkit-filter: brightness(1.2) saturate(10%) invert(63%) sepia(3%) saturate(468%) hue-rotate(83deg) brightness(90%) contrast(91%);
          filter: brightness(1.2) saturate(10%) invert(63%) sepia(3%) saturate(468%) hue-rotate(83deg) brightness(90%) contrast(91%);
}
.card__img--blue {
  -webkit-filter: brightness(4) saturate(10%) invert(46%) sepia(82%) saturate(333%) hue-rotate(152deg) brightness(101%) contrast(101%);
          filter: brightness(4) saturate(10%) invert(46%) sepia(82%) saturate(333%) hue-rotate(152deg) brightness(101%) contrast(101%);
}
.card__img--red {
  -webkit-filter: brightness(1.4) saturate(0%) invert(13%) sepia(86%) saturate(4366%) hue-rotate(356deg) brightness(93%) contrast(116%);
          filter: brightness(1.4) saturate(0%) invert(13%) sepia(86%) saturate(4366%) hue-rotate(356deg) brightness(93%) contrast(116%);
}
.card__img--darkgray {
  -webkit-filter: brightness(5) saturate(10%) invert(42%) sepia(2%) saturate(1091%) hue-rotate(25deg) brightness(96%) contrast(96%);
          filter: brightness(5) saturate(10%) invert(42%) sepia(2%) saturate(1091%) hue-rotate(25deg) brightness(96%) contrast(96%);
}
.card__img--cian {
  -webkit-filter: brightness(0.01) saturate(10%) invert(100%) sepia(72%) saturate(1040%) hue-rotate(90deg) brightness(79%) contrast(82%);
          filter: brightness(0.01) saturate(10%) invert(100%) sepia(72%) saturate(1040%) hue-rotate(90deg) brightness(79%) contrast(82%);
}
.card__img--purple {
  -webkit-filter: brightness(3) saturate(10%) invert(61%) sepia(11%) saturate(1374%) hue-rotate(239deg) brightness(97%) contrast(98%);
          filter: brightness(3) saturate(10%) invert(61%) sepia(11%) saturate(1374%) hue-rotate(239deg) brightness(97%) contrast(98%);
}
.card__img--black {
  -webkit-filter: brightness(0.1) saturate(10%) invert(2%) sepia(98%) saturate(7500%) hue-rotate(72deg) brightness(96%) contrast(110%);
          filter: brightness(0.1) saturate(10%) invert(2%) sepia(98%) saturate(7500%) hue-rotate(72deg) brightness(96%) contrast(110%);
}
.card__pays {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  gap: 5px;
}
.card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  gap: 5px;
  background-color: #f3f3f3;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.card__row .pay {
  width: 100%;
}
.card__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  top: 40px;
  right: 40px;
  gap: 3px;
}
.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.card__brand {
  font-size: 11px;
  font-weight: 600;
  line-height: 13.5px;
  text-align: left;
  width: 100%;
  color: #000000;
}
.card__title {
  font-size: 20px;
  font-weight: 600;
  inline-size: 175px;
  text-align: center;
  color: #000000;
  width: 100%;
}
.card__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1px;
  width: 175px;
  height: 160px;
}
.card__finances {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4px;
  margin-block: 15px;
}
.card__finance {
  font-size: 10px;
}
.card__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2px;
}
.card__tags .tag {
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 10px;
}
.card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  padding: 5px;
}
.card__value {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  padding: 2px;
}
.card__titleTwo {
  font-size: 17px;
  font-weight: 600;
  color: #000000;
}
.card__valueTwo {
  font-size: 20px;
  font-weight: bolder;
  color: #000000;
  background-color: #ec0603;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

.img__visible {
  position: absolute;
  inset: 0 0 0 0;
  background-color: white;
}
.img__visible img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.img__visible--pink img {
  -webkit-filter: brightness(3) saturate(10%) invert(66%) sepia(6%) saturate(3342%) hue-rotate(297deg) brightness(87%) contrast(94%);
          filter: brightness(3) saturate(10%) invert(66%) sepia(6%) saturate(3342%) hue-rotate(297deg) brightness(87%) contrast(94%);
}
.img__visible--darkblue img {
  -webkit-filter: brightness(3) saturate(10%) invert(35%) sepia(67%) saturate(688%) hue-rotate(186deg) brightness(91%) contrast(100%);
          filter: brightness(3) saturate(10%) invert(35%) sepia(67%) saturate(688%) hue-rotate(186deg) brightness(91%) contrast(100%);
}
.img__visible--gray img {
  -webkit-filter: brightness(1.2) saturate(10%) invert(63%) sepia(3%) saturate(468%) hue-rotate(83deg) brightness(90%) contrast(91%);
          filter: brightness(1.2) saturate(10%) invert(63%) sepia(3%) saturate(468%) hue-rotate(83deg) brightness(90%) contrast(91%);
}
.img__visible--blue img {
  -webkit-filter: brightness(4) saturate(10%) invert(46%) sepia(82%) saturate(333%) hue-rotate(152deg) brightness(101%) contrast(101%);
          filter: brightness(4) saturate(10%) invert(46%) sepia(82%) saturate(333%) hue-rotate(152deg) brightness(101%) contrast(101%);
}
.img__visible--red img {
  -webkit-filter: brightness(1.4) saturate(0%) invert(13%) sepia(86%) saturate(4366%) hue-rotate(356deg) brightness(93%) contrast(116%);
          filter: brightness(1.4) saturate(0%) invert(13%) sepia(86%) saturate(4366%) hue-rotate(356deg) brightness(93%) contrast(116%);
}
.img__visible--darkgray img {
  -webkit-filter: brightness(5) saturate(10%) invert(42%) sepia(2%) saturate(1091%) hue-rotate(25deg) brightness(96%) contrast(96%);
          filter: brightness(5) saturate(10%) invert(42%) sepia(2%) saturate(1091%) hue-rotate(25deg) brightness(96%) contrast(96%);
}
.img__visible--cian img {
  -webkit-filter: brightness(0.01) saturate(10%) invert(100%) sepia(72%) saturate(1040%) hue-rotate(90deg) brightness(79%) contrast(82%);
          filter: brightness(0.01) saturate(10%) invert(100%) sepia(72%) saturate(1040%) hue-rotate(90deg) brightness(79%) contrast(82%);
}
.img__visible--purple img {
  -webkit-filter: brightness(3) saturate(10%) invert(61%) sepia(11%) saturate(1374%) hue-rotate(239deg) brightness(97%) contrast(98%);
          filter: brightness(3) saturate(10%) invert(61%) sepia(11%) saturate(1374%) hue-rotate(239deg) brightness(97%) contrast(98%);
}
.img__visible--black img {
  -webkit-filter: brightness(3) saturate(10%) invert(61%) sepia(11%) saturate(1374%) hue-rotate(239deg) brightness(97%) contrast(98%);
          filter: brightness(3) saturate(10%) invert(61%) sepia(11%) saturate(1374%) hue-rotate(239deg) brightness(97%) contrast(98%);
}
@media only screen and (max-width: 834px) {
  .img__visible {
    margin-right: 0;
  }
}

.button__close {
  position: absolute;
  inset-block-start: 5px;
  inset-inline-start: 2px;
  border: none;
  background-color: transparent;
}
@media only screen and (max-width: 834px) {
  .button__close {
    inset-inline-start: unset;
    inset-inline-end: 0px;
  }
}
.button__close .closeIcon {
  font-size: 25px;
  color: #f27405;
  cursor: pointer;
}