header {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: sticky;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media only screen and (max-width: 834px) {
  header {
    padding: 20px;
    height: 75px;
  }
}
@media only screen and (min-width: 835px) {
  header {
    height: 100px;
    padding: 30px;
  }
}
@media only screen and (min-width: 1440px) {
  header {
    height: 121px;
    padding: 30px 100px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 834px) {
  .header__container input, .header__container button:last-of-type {
    display: none;
  }
}
@media only screen and (min-width: 835px) {
  .header__container input {
    width: 600px;
    height: 15px;
  }
}
@media only screen and (min-width: 1440px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__container input {
    width: 700px;
  }
}
@media only screen and (max-width: 834px) {
  .header__logo {
    height: 40px;
  }
}
@media only screen and (min-width: 835px) {
  .header__logo {
    height: 45px;
  }
}
@media only screen and (min-width: 1440px) {
  .header__logo {
    height: 50px;
  }
}