.tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: start;
  background-color: #f2af00;
  color: #f27405;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.tag:hover {
  background-color: #f28a00;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.tag--active {
  background-color: #f27405;
  color: white;
}
.tag--active:hover {
  background-color: #f28a00;
}
.tag__btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-padding-end: 20px;
          padding-inline-end: 20px;
  background-color: transparent;
  border: none;
}
.tag__icon {
  position: absolute;
  inset-inline-end: -5px;
  width: 20px;
  height: 20px;
  color: #f27405;
  cursor: pointer;
}