input {
  padding: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  border-radius: 11px;
  border: none;
  background-color: #F5F7F9;
  outline: none;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
input ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
input ::-moz-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
input :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
input ::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
input ::placeholder {
  color: rgba(0, 0, 0, 0.2);
}